$black: #000;
$white: #fff;
$primary: red;

$padding: 1em;
$grid-width: 80vw;
$grid-unit: $grid-width / 6;
$grid-gutter: $grid-width / 100;

$max-section-height: 90vh;

$phone-breakpoint: 400px;
$single-breakpoint: 600px;
$tablet-breakpoint: 800px;
$desktop-breakpoint: 1200px;

$ratio: 1.333;

$font-display: swap;