$black: #000;
$white: #fff;
$primary: red;

$unit: 100vw / 36;
$munit: 100vw / 15;
$gutter: 3.5rem;

$max-section-height: 90vh;

$phone-breakpoint: 400px;
$single-breakpoint: 600px;
$tablet-breakpoint: 800px;
$desktop-breakpoint: 1200px;

$ratio: 1.333;

$font-display: swap;
