nav.main-nav {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  width: $grid-width;
  justify-content: space-between;

  svg {
    display: block;
    width: $grid-unit / 2;
    height: auto;
    padding: $grid-gutter;
  }

  .right {
    padding: $grid-gutter;
  }
}