body {
  background: $black;
}

#viewport {
  transform: translateY(1em);
}

.layout {
  margin: 0 auto;
  max-width: $grid-width;

  // margin-top: $grid-unit * 2;
}

.page-squares {
  display: flex;
  flex-wrap: wrap;

  .item {
    width: $grid-unit * 2;
    margin: 1em 0;
  }
}

.page-grid {
  display: none;

  .item {
    padding: $grid-gutter;
  }
}


.width-1 {
  width: $grid-unit;

  .spacer {
    padding-bottom: calc(100% - #{$grid-gutter});
  }

  &.featured {
    width: $grid-unit * 2;
  }
}

.width-2 {
  width: $grid-unit * 2;

  .spacer {
    padding-bottom: calc(50% - #{$grid-gutter});
  }

  &.featured {
    width: $grid-unit * 4;
  }
}

.width-3 {
  width: $grid-unit * 3;

  .spacer {
    padding-bottom: calc(33.333% - #{$grid-gutter});
  }

  &.featured {
    width: $grid-unit * 6;
  }
}


.sr-only {
  position: absolute;
  top: auto;
  left: - 1000vw;
}