body {
  background: $black;
}

#viewport {
  // transform: translateY(1em);
  padding: 1em 0 $grid-unit;
}

.layout {
  margin: 0 auto;
  max-width: calc(#{$grid-width} + 2em);
  // margin-top: $grid-unit * 2;
}

.page-message {
  // position: absolute;
  // z-index: 100;
  // top: $grid-unit;
  width: $grid-unit * 4;
  margin-top: -1em;
  margin-bottom: 1em;
}

.page-squares {
  display: flex;
  flex-wrap: wrap;
  // top: $grid-unit * 2;

  .item {
    // width: calc(#{$grid-unit * 2} - 2em);
    width: $grid-unit * 2;
    // margin: 1em 0;
    // padding: 1em;
  }

  .ratio-1 {
    // width: calc(#{$grid-unit * 2} - 2em);
    width: $grid-unit * 2;
  }

  .ratio-2 {
    // width: calc(#{$grid-unit * 4} - 2em);
    width: $grid-unit * 4;
  }

  .vimeo-video {
    width: 100%;
  }
}


// older more complicated grid

.page-grid {
  display: none;

  .item {
    padding: $grid-gutter;
  }
}


.width-1 {
  width: $grid-unit;

  .spacer {
    height: #{$grid-unit - ($grid-gutter * 2)};
  }

  &.featured {
    width: $grid-unit * 2;

    .spacer {
      height: #{$grid-unit * 2 - ($grid-gutter * 2)};
    }
  }
}

.width-2 {
  width: $grid-unit * 2;

  .spacer {
    // padding-bottom: calc(50% - #{$grid-gutter});
    height: #{$grid-unit - ($grid-gutter * 2)};
  }

  &.featured {
    width: $grid-unit * 4;

    .spacer {
      height: #{$grid-unit * 2 - ($grid-gutter * 2)};
    }
  }
}

.width-3 {
  width: $grid-unit * 3;

  .spacer {
    // padding-bottom: calc(33.333% - #{$grid-gutter * 2});
    height: #{$grid-unit - ($grid-gutter * 2)};
  }

  &.featured {
    width: $grid-unit * 6;

    .spacer {
      height: #{$grid-unit * 2 - ($grid-gutter * 2)};
    }
  }
}


.sr-only {
  position: absolute;
  top: auto;
  left: - 1000vw;
}