<nav class="main-nav">
  <div class="left">
    {{ svg('images/logo--white.svg') }}
  </div>
    <div class="right">
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
</nav>