{% extends "_layout.twig" %}
{% import 'includes/_macros.twig' as macros %}
{% set body_classes = 'home-page' %}

{% block content %}
<div class="page-grid">
	{% for block in entry.pageBlocks.all() %}
		{% switch block.ratio.value %}
			{% case 11 %}
				{% set sizeClass = 'width-1 height-1' %}
				{% set extraSettings = {
					ratio: 1
				} %}
			{% case 21 %}
				{% set sizeClass = 'width-2 height-1' %}
				{% set extraSettings = {
					ratio: 2
				} %}
			{% case 31 %}
				{% set sizeClass = 'width-3 height-1' %}
				{% set extraSettings = {
					ratio: 3
				} %}
			{% default %}
				{% set sizeClass = 'width-1 height-1' %}
				{% set extraSettings = {
					ratio: 1
				} %}
		{% endswitch %}

		<div class="item {{ block.type.handle }} {{ sizeClass }} {{ block.isFeatured ? 'featured' }}">
		{% switch block.type.handle %}
			{% case "image" %}
				{% for picture in block.assets.all() %}
					{{ macros.imager_tag({
						class: 'picture',
						image: picture,
						width: '100vw',
						extra: extraSettings
					}) }}
				{% endfor %}				
			{% case "video" %}
					
			{% default %}
		{% endswitch %}
		</div>
	{% endfor %}
</div>
{% endblock %}